[MASTER]
ignore=venv
ignore-patterns=(.)*_test\.py,test_(.)*\.py
module-naming-style=PascalCase
const-naming-style=UPPER_CASE
class-naming-style=PascalCase
function-naming-style=PascalCase
method-naming-style=PascalCase
attr-naming-style=camelCase
argument-naming-style=camelCase
variable-naming-style=camelCase
class-attribute-naming-style=camelCase
class-const-naming-style=UPPER_CASE
inlinevar-naming-style=camelCase
good-names=src

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0917,W0622, R0903

[FORMAT]
max-line-length=100

[DESIGN]
max-args=10
max-locals=15
max-returns=6
max-branches=12
max-statements=50

[REPORTS]
output-format=colorized

[TYPECHECK]
ignore-mixin-members=yes